@import 'node_modules/nhsuk-frontend/packages/nhsuk';

#log-in-button {
    height: 70px;
    width: auto;
    border: none;
    background-color: white;
    padding: 0;
    cursor: pointer;
}

#nhs-login-img {
    height: 70px;
    width: auto;
}

@media only screen and (max-width: 500px) {
    #log-in-button {
        height: 50px;
        width: auto;
        border: none;
        background-color: white;
        padding: 0;
        cursor: pointer;
    }

    #nhs-login-img {
        height: 50px;
        width: auto;
    }
}